# The section below uses cuDF to process and clean the data

In [1]:
import pandas as pd #pandas uses cpu to process data
import cudf #cudf uses gpu to process data (RTX 5090 & RTX 4070Ti Dual Card + CUDA 12.8 + Python 3.11.12 + lastest Nvidia Driver)

In [2]:
gdf = cudf.read_csv("/home/jiajun_li/Documents/MDPROJ/Housing_Maintenance_Code_Violations_20250427.csv")

In [3]:
print(gdf.columns)

Index(['ViolationID', 'BuildingID', 'RegistrationID', 'BoroID', 'Borough',
       'HouseNumber', 'LowHouseNumber', 'HighHouseNumber', 'StreetName',
       'StreetCode', 'Postcode', 'Apartment', 'Story', 'Block', 'Lot', 'Class',
       'InspectionDate', 'ApprovedDate', 'OriginalCertifyByDate',
       'OriginalCorrectByDate', 'NewCertifyByDate', 'NewCorrectByDate',
       'CertifiedDate', 'OrderNumber', 'NOVID', 'NOVDescription',
       'NOVIssuedDate', 'CurrentStatusID', 'CurrentStatus',
       'CurrentStatusDate', 'NovType', 'ViolationStatus', 'RentImpairing',
       'Latitude', 'Longitude', 'CommunityBoard', 'CouncilDistrict',
       'CensusTract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

In [4]:
#Drop columns that are not needed
cols_drop = [
    'RegistrationID',
    'LowHouseNumber',
    'HighHouseNumber',
    'CertifiedDate',
    'OrderNumber',
    'NOVID',
    'NOVIssuedDate',
    'CurrentStatusID',
    'CouncilDistrict',
    'CensusTract',
    'BIN',
    'BBL',
    'Block',
    'Lot',
    'OriginalCertifyByDate',
    'OriginalCorrectByDate',
    'NewCertifyByDate',
    'NewCorrectByDate',
    'Latitude',
    'Longitude',
    'CommunityBoard',
]
gdf = gdf.drop(columns = cols_drop)
print(gdf.columns)

Index(['ViolationID', 'BuildingID', 'BoroID', 'Borough', 'HouseNumber',
       'StreetName', 'StreetCode', 'Postcode', 'Apartment', 'Story', 'Class',
       'InspectionDate', 'ApprovedDate', 'NOVDescription', 'CurrentStatus',
       'CurrentStatusDate', 'NovType', 'ViolationStatus', 'RentImpairing',
       'NTA'],
      dtype='object')

In [5]:
print(count := gdf.shape[1])

20

In [6]:
print(gdf.shape)
print(gdf.dtypes)

#find the number of unique values in each column
for col in gdf.columns:
    print(f"{col}: {gdf[col].nunique()}")

(9936776, 20)
ViolationID           int64
BuildingID            int64
BoroID                int64
Borough              object
HouseNumber          object
StreetName           object
StreetCode            int64
Postcode              int64
Apartment            object
Story                object
Class                object
InspectionDate       object
ApprovedDate         object
NOVDescription       object
CurrentStatus        object
CurrentStatusDate    object
NovType              object
ViolationStatus      object
RentImpairing        object
NTA                  object
dtype: object
ViolationID: 9936776
BuildingID: 230898
BoroID: 5
Borough: 5
HouseNumber: 21940
StreetName: 6039
StreetCode: 5648
Postcode: 220
Apartment: 14633
Story: 250
Class: 4
InspectionDate: 18101
ApprovedDate: 20287
NOVDescription: 6110015
CurrentStatus: 23
CurrentStatusDate: 10905
NovType: 2
ViolationStatus: 2
RentImpairing: 2
NTA: 203

In [7]:
print(gdf["Postcode"])

0          11206
1          11206
2          11206
3          11206
4          11206
           ...
9936771    11238
9936772    11238
9936773    11226
9936774    11230
9936775    11230
Name: Postcode, Length: 9936776, dtype: int64

In [8]:
import pandas as pd
#todo data cast that is compatible with postgres


df = gdf.copy().to_pandas()
#Convert the data types to be compatible with PostgreSQL
int_cols = ['ViolationID', 
            'BuildingID', 
            'BoroID',
            'StreetCode',
            'Postcode'
                              ]
for _ in int_cols:
    df[_] = pd.to_numeric(df[_], errors = 'coerce').astype('Int64')

In [35]:
print(df[['building_id']].nunique())

building_id    230898
dtype: int64

In [9]:
print(df['ViolationID'].dtypes)
print(df['ViolationID'].isnull().sum())
print(df['Postcode'].dtypes)
print(df['Postcode'].isnull().sum())

Int64
0
Int64
8253

In [10]:

#todo Convert date columns to datetime
date_cols = ['InspectionDate','ApprovedDate','CurrentStatusDate']
for _ in date_cols:
    df[_] = pd.to_datetime(df[_], errors = 'coerce')

In [11]:
for _ in date_cols:
    print(df[_].dtypes)
    print(df[_].head(10))

datetime64[ns]
0   2013-12-30
1   2014-07-02
2   2014-07-02
3   2014-07-02
4   2014-07-02
5   2015-03-02
6   2015-06-30
7   2015-06-30
8   2015-08-31
9   2013-10-21
Name: InspectionDate, dtype: datetime64[ns]
datetime64[ns]
0   2014-01-04
1   2014-07-07
2   2014-07-07
3   2014-07-07
4   2014-07-07
5   2015-03-02
6   2015-07-03
7   2015-07-03
8   2015-09-01
9   2013-10-22
Name: ApprovedDate, dtype: datetime64[ns]
datetime64[ns]
0   2014-01-25
1   2015-08-09
2   2015-08-09
3   2015-08-09
4   2015-08-09
5   2015-03-16
6   2016-01-06
7   2016-01-06
8   2015-09-02
9   2023-09-10
Name: CurrentStatusDate, dtype: datetime64[ns]

In [12]:
text_cols = [
    'Borough','HouseNumber','StreetName',
    'Apartment','Story','Class','NOVDescription',
    'CurrentStatus','NovType','ViolationStatus','NTA'
]

for _ in text_cols:
     df[_] = df[_].where(df[_].notna(), pd.NA).astype('string')

In [13]:
class_dict = {
    'A': 'Non-hazardous',
    'B': 'Hazardous',
    'C': 'Immediately hazardous',
    'I': 'Order to repair/vacate'
}
df['ClassDescription'] = df['Class'].map(class_dict)

In [14]:
df['RentImpairing'] = (
    df['RentImpairing']
      .map({'Yes': True, 'No': False, 'Y': True, 'N': False})
      .astype('boolean')
)

In [15]:
print(df.shape)
print(df.dtypes)
df['ClassDescription'] = df['ClassDescription'].astype('string')
print(df['ClassDescription'].isnull().sum())
print(df['ClassDescription'].dtypes)

(9936776, 21)
ViolationID                   Int64
BuildingID                    Int64
BoroID                        Int64
Borough              string[python]
HouseNumber          string[python]
StreetName           string[python]
StreetCode                    Int64
Postcode                      Int64
Apartment            string[python]
Story                string[python]
Class                string[python]
InspectionDate       datetime64[ns]
ApprovedDate         datetime64[ns]
NOVDescription       string[python]
CurrentStatus        string[python]
CurrentStatusDate    datetime64[ns]
NovType              string[python]
ViolationStatus      string[python]
RentImpairing               boolean
NTA                  string[python]
ClassDescription             object
dtype: object
0
string

In [ ]:
import psycopg

DB_HOST = "localhost"
DB_PORT = '5432'
DB_NAME = "housing_maintenance_cv"
DB_USER = "postgres"
DB_PASS = "12345678"

def main():
    # Connect to PostgreSQL
    conn = psycopg.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS)

    cur = conn.cursor()

    # For replicability
    cur.execute("DROP TABLE IF EXISTS borough CASCADE;")
    conn.commit()

    cur.execute("DROP TABLE IF EXISTS building CASCADE;")
    conn.commit()

    cur.execute("DROP TABLE IF EXISTS nta CASCADE;")
    conn.commit()

    cur.execute("DROP TABLE IF EXISTS violation CASCADE;")
    conn.commit()

    cur.execute("DROP TABLE IF EXISTS violation_class CASCADE;")
    conn.commit()
 

    borough = """ CREATE TABLE borough (
                  borough_id BIGINT PRIMARY KEY,
                  borough_name TEXT NOT NULL
                  );
              """
    
    violation_class = """ CREATE TABLE violation_class (
                          class_type VARCHAR(1) PRIMARY KEY,
                          type_description VARCHAR(100) NOT NULL         
                          );
                      """


    nta = """ CREATE TABLE nta (
              nta_id BIGSERIAL PRIMARY KEY,
              nta_name TEXT NOT NULL,
              borough_id BIGINT NOT NULL,
              FOREIGN KEY (borough_id) REFERENCES borough(borough_id)
              );
          """

    building = """ CREATE TABLE building (
                   building_id BIGINT PRIMARY KEY,
                   house_number TEXT,
                   street_name TEXT,
                   street_code BIGINT,
                   postcode BIGINT,
                   nta_id BIGINT,
                   borough_id BIGINT NOT NULL,
                   FOREIGN KEY (borough_id) REFERENCES borough(borough_id),
                   FOREIGN KEY (nta_id) REFERENCES nta(nta_id)
                   );
               """

    violation = """ CREATE TABLE violation (
                    violation_id BIGINT PRIMARY KEY,
                    inspection_date DATE,
                    approved_date DATE,
                    nov_description TEXT,
                    current_status TEXT,
                    current_status_date DATE,
                    nov_type TEXT,
                    violation_status TEXT,
                    rent_impairing BOOLEAN,
                    apartment TEXT,
                    story TEXT,
                    building_id BIGINT NOT NULL,
                    class_type VARCHAR(1) NOT NULL,
                    FOREIGN KEY (building_id) REFERENCES building(building_id),
                    FOREIGN KEY (class_type) REFERENCES violation_class(class_type)
                    );
                """



    cur.execute(borough)
    cur.execute(violation_class)
    cur.execute(nta)
    cur.execute(building)
    cur.execute(violation)
    conn.commit()

if __name__ == "__main__":
    main()

In [17]:
DB_HOST = "localhost"
DB_PORT = '5432'
DB_NAME = "housing_maintenance_cv"
DB_USER = "postgres"
DB_PASS = "12345678"

In [ ]:
df = df.rename(columns={
    'ViolationID'         : 'violation_id',
    'BuildingID'          : 'building_id',
    'BoroID'              : 'borough_id',
    'Class'               : 'class_type',
    'InspectionDate'      : 'inspection_date',
    'ApprovedDate'        : 'approved_date',
    'CurrentStatusDate'   : 'current_status_date',
    'NOVDescription'      : 'nov_description',
    'NovType'             : 'nov_type',
    'ViolationStatus'     : 'violation_status',
    'RentImpairing'       : 'rent_impairing',
    'NTA'                 : 'nta_name',
    'StreetCode'          : 'street_code',
    'Postcode'            : 'postcode',
    'HouseNumber'         : 'house_number',
    'StreetName'          : 'street_name',
    'Apartment'           : 'apartment',
    'Story'               : 'story',
    'CurrentStatus'       : 'current_status',
    'ClassDescription'    : 'class_description',
    'Borough'             : 'borough_name'
    
})

In [19]:
print(df.columns)

Index(['violation_id', 'building_id', 'borough_id', 'borough_name',
       'house_number', 'street_name', 'street_code', 'postcode', 'apartment',
       'story', 'class_type', 'inspection_date', 'approved_date',
       'nov_description', 'current_status', 'current_status_date', 'nov_type',
       'violation_status', 'rent_impairing', 'nta_name', 'class_description'],
      dtype='object')

In [32]:
#populate the borough table
import psycopg2
unique_boros = (
    df[['borough_id','borough_name']]
      .dropna(subset=['borough_id','borough_name'])
      .drop_duplicates()
      .values
)

conn = psycopg2.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS
)
cur = conn.cursor()

insert_sql = """
  INSERT INTO borough (borough_id, borough_name)
  VALUES (%s, %s)
  ON CONFLICT (borough_id) DO NOTHING;
"""
cur.executemany(insert_sql, unique_boros.tolist())
conn.commit()

In [33]:
#populate the nta table
conn = psycopg2.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS
)
cur = conn.cursor()
unique_ntas = (
    df[['nta_name','borough_id']]
      .dropna(subset=['nta_name','borough_id'])
      .drop_duplicates()
)
records = [
    (row.nta_name, int(row.borough_id))
    for row in unique_ntas.itertuples(index=False)
]

insert_sql = """
  INSERT INTO nta (nta_name, borough_id)
  VALUES (%s, %s)
"""
cur.executemany(insert_sql, records)
conn.commit()

In [ ]:
#populate the building table
import psycopg2
conn = psycopg2.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS
)
cur = conn.cursor()

# Get NTA mappings
cur.execute("SELECT nta_id, nta_name FROM nta")
nta_map = {nta_name: nta_id for nta_id, nta_name in cur.fetchall()}

# Extract all buildings with required fields
buildings = (
    df[['building_id', 'house_number', 'street_name', 'street_code', 
        'postcode', 'nta_name', 'borough_id']]
    .dropna(subset=['building_id', 'borough_id'])  
    .drop_duplicates(subset=['building_id'])
    .copy()
)

# Map NTA names to IDs, leaving NULL where no match exists
buildings['nta_fk'] = buildings['nta_name'].map(nta_map)

# Build records with nullable NTA foreign keys
records = []
for row in buildings.itertuples(index=False):
    records.append((
        int(row.building_id),
        row.house_number,
        row.street_name,
        int(row.street_code) if pd.notna(row.street_code) else None,
        int(row.postcode) if pd.notna(row.postcode) else None,
        int(row.nta_fk) if pd.notna(row.nta_fk) else None,
        int(row.borough_id) 
    ))

# Insert buildings with ON CONFLICT handling
insert_sql = """
  INSERT INTO building (
    building_id,
    house_number,
    street_name,
    street_code,
    postcode,
    nta_id,
    borough_id
  ) VALUES (%s, %s, %s, %s, %s, %s, %s)
  ON CONFLICT (building_id) DO NOTHING;
"""
cur.executemany(insert_sql, records)
conn.commit()

In [22]:
#populate the violation_class table
conn = psycopg2.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS
)
cur = conn.cursor()
unique_classes = (
    df[['class_type','class_description']]
      .dropna(subset=['class_type','class_description'])
      .drop_duplicates()
)

records = [
    (row.class_type, row.class_description)
    for row in unique_classes.itertuples(index=False)
]

insert_sql = """
  INSERT INTO violation_class (class_type, type_description)
  VALUES (%s, %s)
  ON CONFLICT (class_type) DO NOTHING;
"""
cur.executemany(insert_sql, records)
conn.commit()

In [38]:
#populate the violation_class table
conn = psycopg2.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS
)
cur = conn.cursor()
unique_classes = (
    df[['class_type','class_description']]
      .dropna(subset=['class_type','class_description'])
      .drop_duplicates()
)

records = [
    (row.class_type, row.class_description)
    for row in unique_classes.itertuples(index=False)
]

# Insert with conflict handling
insert_sql = """
  INSERT INTO violation_class (class_type, type_description)
  VALUES (%s, %s)
  ON CONFLICT (class_type) DO NOTHING;
"""
cur.executemany(insert_sql, records)
conn.commit()

# Build records with nullable NTA foreign keys

In [40]:
#populate the violation table
print(df[['class_type']].isnull().sum())
print(df[['building_id']].isnull().sum())

class_type    0
dtype: int64
building_id    0
dtype: int64

In [44]:
violation = """ CREATE TABLE violation (
                    violation_id BIGINT PRIMARY KEY,
                    inspection_date DATE,
                    approved_date DATE,
                    nov_description TEXT,
                    current_status TEXT,
                    current_status_date DATE,
                    nov_type TEXT,
                    violation_status TEXT,
                    rent_impairing BOOLEAN,
                    apartment TEXT,
                    story TEXT,
                    building_id BIGINT NOT NULL,
                    class_type VARCHAR(1) NOT NULL,
                    FOREIGN KEY (building_id) REFERENCES building(building_id),
                    FOREIGN KEY (class_type) REFERENCES violation_class(class_type)
                    );
                """
cur.execute(violation)
conn.commit()

In [ ]:
import psycopg2
from psycopg2.extras import execute_values
import time

conn = psycopg2.connect(
    host = DB_HOST,
    port = DB_PORT,
    dbname = DB_NAME,
    user = DB_USER,
    password = DB_PASS
)
conn.autocommit = False
cur = conn.cursor()

# Get existing building IDs for faster lookup (in-memory)
cur.execute("SELECT building_id FROM building")
valid_building_ids = set([row[0] for row in cur.fetchall()])

# Get valid class types
cur.execute("SELECT class_type FROM violation_class")
valid_class_types = set([row[0] for row in cur.fetchall()])

# Filter violations that have valid foreign keys
valid_violations = df[
    df['building_id'].isin(valid_building_ids) & 
    df['class_type'].isin(valid_class_types) &
    df['violation_id'].notna()
].copy()

print(f"Total violations: {len(df)}")
print(f"Valid violations for insert: {len(valid_violations)}")

# Configure batch size
BATCH_SIZE = 10000
total_batches = (len(valid_violations) // BATCH_SIZE) + 1

# Prepare SQL statement
insert_sql = """
    INSERT INTO violation (
        violation_id, inspection_date, approved_date, nov_description,
        current_status, current_status_date, nov_type, violation_status,
        rent_impairing, apartment, story, building_id, class_type
    ) VALUES %s
    ON CONFLICT (violation_id) DO NOTHING;
"""

start_time = time.time()
rows_inserted = 0

try:
    # Process in batches
    for batch_num in range(total_batches):
        start_idx = batch_num * BATCH_SIZE
        end_idx = min(start_idx + BATCH_SIZE, len(valid_violations))
        
        if start_idx >= end_idx:
            break
            
        batch = valid_violations.iloc[start_idx:end_idx]
        
        # Convert to list of tuples for insertion
        records = []
        for row in batch.itertuples(index=False):
            records.append((
                int(row.violation_id),
                #replace NaN and NAT
                None if pd.isna(row.inspection_date) else row.inspection_date,
                None if pd.isna(row.approved_date) else row.approved_date,
                None if pd.isna(row.nov_description) else row.nov_description,
                None if pd.isna(row.current_status) else row.current_status,
                None if pd.isna(row.current_status_date) else row.current_status_date,
                None if pd.isna(row.nov_type) else row.nov_type,
                None if pd.isna(row.violation_status) else row.violation_status,
                bool(row.rent_impairing) if pd.notna(row.rent_impairing) else None,
                None if pd.isna(row.apartment) else row.apartment,
                None if pd.isna(row.story) else row.story,
                int(row.building_id),
                row.class_type
            ))
        
        # Use execute_values for faster batch insert
        execute_values(cur, insert_sql, records, template=None, page_size=BATCH_SIZE)
        
        # Commit each batch
        conn.commit()
        
        rows_inserted += len(records)
        elapsed = time.time() - start_time
        rate = rows_inserted / elapsed if elapsed > 0 else 0
        
        # Progress update every 10 batches or at the end
        if batch_num % 10 == 0 or batch_num == total_batches - 1:
            print(f"Batch {batch_num+1}/{total_batches}: Inserted {rows_inserted:,} rows " 
                  f"({rows_inserted/len(valid_violations)*100:.1f}%) - "
                  f"Rate: {rate:.0f} rows/sec")
    
    print(f"\nCompleted: {rows_inserted:,} rows inserted in {time.time() - start_time:.1f} seconds")

except Exception as e:
    conn.rollback()
    print(f"Error: {e}")

Total violations: 9936776
Valid violations for insert: 9936776
Batch 1/994: Inserted 10,000 rows (0.1%) - Rate: 22080 rows/sec
Batch 11/994: Inserted 110,000 rows (1.1%) - Rate: 32338 rows/sec
Batch 21/994: Inserted 210,000 rows (2.1%) - Rate: 32042 rows/sec
Batch 31/994: Inserted 310,000 rows (3.1%) - Rate: 32580 rows/sec
Batch 41/994: Inserted 410,000 rows (4.1%) - Rate: 32473 rows/sec
Batch 51/994: Inserted 510,000 rows (5.1%) - Rate: 30816 rows/sec
Batch 61/994: Inserted 610,000 rows (6.1%) - Rate: 31139 rows/sec
Batch 71/994: Inserted 710,000 rows (7.1%) - Rate: 31446 rows/sec
Batch 81/994: Inserted 810,000 rows (8.2%) - Rate: 31686 rows/sec
Batch 91/994: Inserted 910,000 rows (9.2%) - Rate: 31880 rows/sec
Batch 101/994: Inserted 1,010,000 rows (10.2%) - Rate: 32045 rows/sec
Batch 111/994: Inserted 1,110,000 rows (11.2%) - Rate: 32073 rows/sec
Batch 121/994: Inserted 1,210,000 rows (12.2%) - Rate: 32152 rows/sec
Batch 131/994: Inserted 1,310,000 rows (13.2%) - Rate: 32171 rows/sec
Batch 141/994: Inserted 1,410,000 rows (14.2%) - Rate: 32153 rows/sec
Batch 151/994: Inserted 1,510,000 rows (15.2%) - Rate: 31536 rows/sec
Batch 161/994: Inserted 1,610,000 rows (16.2%) - Rate: 31499 rows/sec
Batch 171/994: Inserted 1,710,000 rows (17.2%) - Rate: 31541 rows/sec
Batch 181/994: Inserted 1,810,000 rows (18.2%) - Rate: 31638 rows/sec
Batch 191/994: Inserted 1,910,000 rows (19.2%) - Rate: 31698 rows/sec
Batch 201/994: Inserted 2,010,000 rows (20.2%) - Rate: 31779 rows/sec
Batch 211/994: Inserted 2,110,000 rows (21.2%) - Rate: 31858 rows/sec
Batch 221/994: Inserted 2,210,000 rows (22.2%) - Rate: 31927 rows/sec
Batch 231/994: Inserted 2,310,000 rows (23.2%) - Rate: 31991 rows/sec
Batch 241/994: Inserted 2,410,000 rows (24.3%) - Rate: 32070 rows/sec
Batch 251/994: Inserted 2,510,000 rows (25.3%) - Rate: 32145 rows/sec
Batch 261/994: Inserted 2,610,000 rows (26.3%) - Rate: 31841 rows/sec
Batch 271/994: Inserted 2,710,000 rows (27.3%) - Rate: 31917 rows/sec
Batch 281/994: Inserted 2,810,000 rows (28.3%) - Rate: 31959 rows/sec
Batch 291/994: Inserted 2,910,000 rows (29.3%) - Rate: 32007 rows/sec
Batch 301/994: Inserted 3,010,000 rows (30.3%) - Rate: 32068 rows/sec
Batch 311/994: Inserted 3,110,000 rows (31.3%) - Rate: 32085 rows/sec
Batch 321/994: Inserted 3,210,000 rows (32.3%) - Rate: 32115 rows/sec
Batch 331/994: Inserted 3,310,000 rows (33.3%) - Rate: 32139 rows/sec
Batch 341/994: Inserted 3,410,000 rows (34.3%) - Rate: 32183 rows/sec
Batch 351/994: Inserted 3,510,000 rows (35.3%) - Rate: 32229 rows/sec
Batch 361/994: Inserted 3,610,000 rows (36.3%) - Rate: 32282 rows/sec
Batch 371/994: Inserted 3,710,000 rows (37.3%) - Rate: 32110 rows/sec
Batch 381/994: Inserted 3,810,000 rows (38.3%) - Rate: 32144 rows/sec
Batch 391/994: Inserted 3,910,000 rows (39.3%) - Rate: 32183 rows/sec
Batch 401/994: Inserted 4,010,000 rows (40.4%) - Rate: 32209 rows/sec
Batch 411/994: Inserted 4,110,000 rows (41.4%) - Rate: 32233 rows/sec
Batch 421/994: Inserted 4,210,000 rows (42.4%) - Rate: 32255 rows/sec
Batch 431/994: Inserted 4,310,000 rows (43.4%) - Rate: 32275 rows/sec
Batch 441/994: Inserted 4,410,000 rows (44.4%) - Rate: 32303 rows/sec
Batch 451/994: Inserted 4,510,000 rows (45.4%) - Rate: 32344 rows/sec
Batch 461/994: Inserted 4,610,000 rows (46.4%) - Rate: 32367 rows/sec
Batch 471/994: Inserted 4,710,000 rows (47.4%) - Rate: 32220 rows/sec
Batch 481/994: Inserted 4,810,000 rows (48.4%) - Rate: 32239 rows/sec
Batch 491/994: Inserted 4,910,000 rows (49.4%) - Rate: 32274 rows/sec
Batch 501/994: Inserted 5,010,000 rows (50.4%) - Rate: 32309 rows/sec
Batch 511/994: Inserted 5,110,000 rows (51.4%) - Rate: 32339 rows/sec
Batch 521/994: Inserted 5,210,000 rows (52.4%) - Rate: 32365 rows/sec
Batch 531/994: Inserted 5,310,000 rows (53.4%) - Rate: 32374 rows/sec
Batch 541/994: Inserted 5,410,000 rows (54.4%) - Rate: 32408 rows/sec
Batch 551/994: Inserted 5,510,000 rows (55.5%) - Rate: 32427 rows/sec
Batch 561/994: Inserted 5,610,000 rows (56.5%) - Rate: 32454 rows/sec
Batch 571/994: Inserted 5,710,000 rows (57.5%) - Rate: 32485 rows/sec
Batch 581/994: Inserted 5,810,000 rows (58.5%) - Rate: 32368 rows/sec
Batch 591/994: Inserted 5,910,000 rows (59.5%) - Rate: 32397 rows/sec
Batch 601/994: Inserted 6,010,000 rows (60.5%) - Rate: 32435 rows/sec
Batch 611/994: Inserted 6,110,000 rows (61.5%) - Rate: 32460 rows/sec
Batch 621/994: Inserted 6,210,000 rows (62.5%) - Rate: 32474 rows/sec
Batch 631/994: Inserted 6,310,000 rows (63.5%) - Rate: 32493 rows/sec
Batch 641/994: Inserted 6,410,000 rows (64.5%) - Rate: 32519 rows/sec
Batch 651/994: Inserted 6,510,000 rows (65.5%) - Rate: 32551 rows/sec
Batch 661/994: Inserted 6,610,000 rows (66.5%) - Rate: 32565 rows/sec
Batch 671/994: Inserted 6,710,000 rows (67.5%) - Rate: 32578 rows/sec
Batch 681/994: Inserted 6,810,000 rows (68.5%) - Rate: 32590 rows/sec
Batch 691/994: Inserted 6,910,000 rows (69.5%) - Rate: 32485 rows/sec
Batch 701/994: Inserted 7,010,000 rows (70.5%) - Rate: 32505 rows/sec
Batch 711/994: Inserted 7,110,000 rows (71.6%) - Rate: 32531 rows/sec
Batch 721/994: Inserted 7,210,000 rows (72.6%) - Rate: 32533 rows/sec
Batch 731/994: Inserted 7,310,000 rows (73.6%) - Rate: 32550 rows/sec
Batch 741/994: Inserted 7,410,000 rows (74.6%) - Rate: 32566 rows/sec
Batch 751/994: Inserted 7,510,000 rows (75.6%) - Rate: 32579 rows/sec
Batch 761/994: Inserted 7,610,000 rows (76.6%) - Rate: 32598 rows/sec
Batch 771/994: Inserted 7,710,000 rows (77.6%) - Rate: 32614 rows/sec
Batch 781/994: Inserted 7,810,000 rows (78.6%) - Rate: 32617 rows/sec
Batch 791/994: Inserted 7,910,000 rows (79.6%) - Rate: 32637 rows/sec
Batch 801/994: Inserted 8,010,000 rows (80.6%) - Rate: 32552 rows/sec
Batch 811/994: Inserted 8,110,000 rows (81.6%) - Rate: 32572 rows/sec
Batch 821/994: Inserted 8,210,000 rows (82.6%) - Rate: 32569 rows/sec
Batch 831/994: Inserted 8,310,000 rows (83.6%) - Rate: 32572 rows/sec
Batch 841/994: Inserted 8,410,000 rows (84.6%) - Rate: 32571 rows/sec
Batch 851/994: Inserted 8,510,000 rows (85.6%) - Rate: 32577 rows/sec
Batch 861/994: Inserted 8,610,000 rows (86.6%) - Rate: 32593 rows/sec
Batch 871/994: Inserted 8,710,000 rows (87.7%) - Rate: 32606 rows/sec
Batch 881/994: Inserted 8,810,000 rows (88.7%) - Rate: 32617 rows/sec
Batch 891/994: Inserted 8,910,000 rows (89.7%) - Rate: 32626 rows/sec
Batch 901/994: Inserted 9,010,000 rows (90.7%) - Rate: 32640 rows/sec
Batch 911/994: Inserted 9,110,000 rows (91.7%) - Rate: 32547 rows/sec
Batch 921/994: Inserted 9,210,000 rows (92.7%) - Rate: 32567 rows/sec
Batch 931/994: Inserted 9,310,000 rows (93.7%) - Rate: 32582 rows/sec
Batch 941/994: Inserted 9,410,000 rows (94.7%) - Rate: 32593 rows/sec
Batch 951/994: Inserted 9,510,000 rows (95.7%) - Rate: 32604 rows/sec
Batch 961/994: Inserted 9,610,000 rows (96.7%) - Rate: 32602 rows/sec
Batch 971/994: Inserted 9,710,000 rows (97.7%) - Rate: 32603 rows/sec
Batch 981/994: Inserted 9,810,000 rows (98.7%) - Rate: 32601 rows/sec
Batch 991/994: Inserted 9,910,000 rows (99.7%) - Rate: 32598 rows/sec
Batch 994/994: Inserted 9,936,776 rows (100.0%) - Rate: 32602 rows/sec

Completed: 9,936,776 rows inserted in 304.8 seconds

## Query Buildings by Borough and Neighborhood
This section shows how to look up `borough_id` and `nta_id` from their tables and then retrieve matching records from the `building` table based on user inputs.

In [ ]:
import psycopg2
# Example user inputs; replace with dynamic values as needed
input_borough = 'Bronx'
input_neighborhood = 'Fordham'

# Connect to the database
conn = psycopg2.connect(host=DB_HOST, port=DB_PORT, dbname=DB_NAME, user=DB_USER, password=DB_PASS)
cur = conn.cursor()

# Retrieve borough_id
cur.execute('SELECT borough_id FROM borough WHERE borough_name = %s', (input_borough,))
row = cur.fetchone()
borough_id = row[0] if row else None

# Retrieve nta_id filtering by borough
cur.execute('SELECT nta_id FROM nta WHERE nta_name = %s AND borough_id = %s', (input_neighborhood, borough_id))
row = cur.fetchone()
nta_id = row[0] if row else None

# Build and execute building query
query = 'SELECT * FROM building WHERE 1=1'
params = []
if borough_id is not None:
    query += ' AND borough_id = %s'; params.append(borough_id)
if nta_id is not None:
    query += ' AND nta_id = %s'; params.append(nta_id)

cur.execute(query, tuple(params))
buildings = cur.fetchall()
print('Matched Buildings:')
for b in buildings: print(b)

cur.close()
conn.close()